@font-face {
  font-family: 'FontAwesome';
  src: url('http://focuslock.dk/static/fontawesome/FontAwesome5ProRegular.eot');
  src: url('http://focuslock.dk/static/fontawesome/FontAwesome5ProRegular.woff2') format('woff2'),
       url('http://focuslock.dk/static/fontawesome/FontAwesome5ProRegular.woff') format('woff'),
       url('http://focuslock.dk/static/fontawesome/FontAwesome5ProRegular.ttf') format('truetype'),
       url('http://focuslock.dk/static/fontawesome/FontAwesome5ProRegular.svg#FontAwesome') format('svg'),
       url('http://focuslock.dk/static/fontawesome/FontAwesome5ProRegular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
