@font-face {
  font-family: 'FontAwesomeBrand';
  src: url('http://focuslock.dk/static/fontawesome/FontAwesome5BrandsRegular.eot');
  src: url('http://focuslock.dk/static/fontawesome/FontAwesome5BrandsRegular.woff2') format('woff2'),
       url('http://focuslock.dk/static/fontawesome/FontAwesome5BrandsRegular.woff') format('woff'),
       url('http://focuslock.dk/static/fontawesome/FontAwesome5BrandsRegular.ttf') format('truetype'),
       url('http://focuslock.dk/static/fontawesome/FontAwesome5BrandsRegular.svg#FontAwesomeBrand') format('svg'),
       url('http://focuslock.dk/static/fontawesome/FontAwesome5BrandsRegular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
