@font-face {
  font-family: 'FontAwesomeSolid';
  src: url('http://focuslock.dk/static/fontawesome/FontAwesome5ProSolid.eot');
  src: url('http://focuslock.dk/static/fontawesome/FontAwesome5ProSolid.woff2') format('woff2'),
       url('http://focuslock.dk/static/fontawesome/FontAwesome5ProSolid.woff') format('woff'),
       url('http://focuslock.dk/static/fontawesome/FontAwesome5ProSolid.ttf') format('truetype'),
       url('http://focuslock.dk/static/fontawesome/FontAwesome5ProSolid.svg#FontAwesomeSolid') format('svg'),
       url('http://focuslock.dk/static/fontawesome/FontAwesome5ProSolid.eot?#iefix') format('embedded-opentype');
  font-weight: 900;
  font-style: normal;
}
