@font-face {
  font-family: 'FontAwesomeLight';
  src: url('http://focuslock.dk/static/fontawesome/FontAwesome5ProLight.eot');
  src: url('http://focuslock.dk/static/fontawesome/FontAwesome5ProLight.woff2') format('woff2'),
       url('http://focuslock.dk/static/fontawesome/FontAwesome5ProLight.woff') format('woff'),
       url('http://focuslock.dk/static/fontawesome/FontAwesome5ProLight.ttf') format('truetype'),
       url('http://focuslock.dk/static/fontawesome/FontAwesome5ProLight.svg#FontAwesomeLight') format('svg'),
       url('http://focuslock.dk/static/fontawesome/FontAwesome5ProLight.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: normal;
}
