/* COLOR PALETTE
    Dark Orange:   	#FC580C, rgb: 252,88,12
    Light Orange:   #FC6B0A, rgb: 252,107,10
    Off white:      #F6F6F6, rgb: 246,246,246
    Wool white:     #C0C0C0, rgb: 192,192,192
	Foot grey:		#272727, rgb: 39,39,39
*/

			/***********************/
			/*    PRE-MODIFIRES    */
			/***********************/

:root {
	--main-color: #FC6B0A;
		--main-color-rgb: rgb(252, 107, 10);
	--secondary-color: #FC580C;
		--secondary-color-rgb: rgb(252, 88, 12);
	--off-white: #F6F6F6;
		--off-white-rgb: rgb(246, 246, 246);
	--wool-white: #C0C0C0;
		--wool-white-rgb: rgb(192, 192, 192);
	--foot-grey: #272727;
		--foot-grey-rgb: rgb(39, 39, 39);

	--raleway-font: 'Raleway', sans-serif;
	--ubuntu-font: 'Ubuntu', sans-serif;
	--montserrat-font: 'Montserrat', sans-serif;
}

			/***********************/
			/*         BODY        */
			/***********************/

body{
    width: 100%;
    height: 100%;
    font-family: var(--ubuntu-font);
    color: var(--main-color);
    background-color: var(--off-white);
	-webkit-tap-highlight-color: rgba(255,255,255,.2);
}

html{
    width: 100%;
    height: 100%;
}

h1,h2,h4,h5{
    margin: 0,0,35px;
    font-family: var(--montserrat-font);
    font-weight: 700;
    letter-spacing: 1px;
    /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
}
h3 {
	margin: 0,0,35px;
    font-family: var(--montserrat-font);
    font-weight: 700;
    letter-spacing: 1px;
}

h6 {
    font-family: var(--ubuntu-font);
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
    /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
}

p {
	/*color: var(--main-color);*/
    margin: 0 0 25px!important;
    font-size: 18px!important;
    line-height: 1.5!important;
}

::-moz-selection {
	/*text-shadow: none;*/
    background: #973407;
    background: rgba(151,52,7,.2);
}

::selection {
    /*text-shadow: none;*/
    background: #973407;
    background: rgba(252,88,12,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

@media(min-width:768px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: var(--main-color);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.hyperlink{
	text-decoration: underline;
}
.hyperlink:hover{
	color: var(--foot-grey);
}

.info-text {
	color: var(--wool-white);
	font-size: 15px!important;
}

a:hover,
a:focus {
    text-decoration: none;
    color: var(--secondary-color);
}

.light {
    font-style: bold;
}

hr {
	border-top: 1px solid rgba(37, 37, 37, 0.3);
}

.error {
    text-align: center;
}

.error h1{
    padding-top: 70px;
}

.error .big{
	font-size: 200;
}

			/***********************/
			/*        NAVBAR       */
			/***********************/

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(252,107,10,.7);
    text-transform: uppercase;
    font-family: var(--montserrat-font);
    background-color: var(--off-white);
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: var(--main-color);
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: var(--main-color);
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: rgba(252,88,12,1);
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: rgba(192, 192, 192,.3);
}

.navbar-custom .nav li.active a:hover {
    color: var(--secondary-color);
}
@media(min-width:992px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 1px solid rgba(252,107,10,.7);
        background: var(--off-white);
    }
}

			/***********************/
			/*        INTRO        */
			/***********************/

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: var(--main-color);
    background: url(../images/index-img.jpg) no-repeat bottom center scroll;
    background-color: var(--wool-white);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}

@media(min-width:768px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
    }

    .intro .intro-body .intro-text {
        font-size: 26px;
    }
}

.info-section {
    padding-top: 70px;
}

			/***********************/
			/*        ABOUT        */
			/***********************/

.about {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: var(--main-color);
    background: url(../images/about-img.jpg) no-repeat bottom center scroll;
    background-color: var(--wool-white);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.about .about-body {
    display: table-cell;
    vertical-align: middle;
}

.about .about-body .brand-heading {
    font-size: 40px;
}

.about .about-body .about-text {
    font-size: 18px;
}

.about-intro .about-focuslock {
	display: table-cell;
	vertical-align: middle;
}

.about-section .about-title{
	font-size: 40px;
}

.about-section .about-undertitle{
	font-size: 30px;
}

@media(min-width:768px) {
	.about {
    	height: 100%;
    	padding: 0;
    }

    .about .about-body .brand-heading {
    	font-size: 92px;
    }

    .about .about-body .about-text {
    	font-size: 26px;
    }
}

.what-section {
    padding-top: 70px;
}

.goals-section {
    padding-top: 70px;
}

.us-section {
    padding-top: 70px;
}

.usage-section {
    padding-top: 70px;
}

.why-section {
    padding-top: 70px;
}

.how-section {
    padding-top: 70px;
}

.goals-section .goals-title{
    font-size: 40px;
}

.goals-section .goals-text{
    font-size: 18px;
}

.usage-section .usage-title{
    font-size: 40px;
}

.usage-section .usage-text{
    font-size: 18px;
}

			/***********************/
			/*      SOLUTIONS      */
			/***********************/

.solutions {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: var(--main-color);
    background: url(../images/solutions-img.jpg) no-repeat bottom center scroll;
    background-color: var(--wool-white);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.solutions .solutions-body {
    display: table-cell;
    vertical-align: middle;
}

.solutions .solutions-body .brand-heading {
    font-size: 40px;
}

.solutions .solutions-body .solutions-text {
    font-size: 18px;
}

@media(min-width:768px) {
	.solutions {
    	height: 100%;
    	padding: 0;
    }

    .solutions .solutions-body .brand-heading {
    	font-size: 100px;
    }

    .solutions .solutions-body .solutions-text {
    	font-size: 26px;
    }
}

.solution-section {
    padding-top: 70px;
}

.which-section .which-title{
    font-size: 40px;
}

.which-section .which-text{
    font-size: 18px;
}

.price-section .price-title{
    font-size: 40px;
}

.price-section .price-text{
    font-size: 18px;
}

.product-section .product-title{
    font-size: 40px;
}

.product-section .product-text{
    font-size: 18px;
}

			/***********************/
			/*       CONTACT       */
			/***********************/

.contact {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: var(--main-color);
    background: url(../images/contact-img.jpg) no-repeat bottom center scroll;
    background-color: var(--wool-white);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.contact .contact-body {
    display: table-cell;
    vertical-align: middle;
}

.contact .contact-body .brand-heading {
    font-size: 40px;
}

.contact .contact-body .contact-text {
    font-size: 18px;
}

@media(min-width:768px) {
	.contact {
    	height: 100%;
    	padding: 0;
    }

    .contact .contact-body .brand-heading {
    	font-size: 100px;
    }

    .contact .contact-body .contact-text {
    	font-size: 26px;
    }
}

.contact-section {
    padding-top: 70px;
}

.why-contact-section .why-contact-title{
    font-size: 40px;
}

.why-contact-section .why-contact-text{
    font-size: 18px;
}

.contact-section .contact-title{
    font-size: 40px;
}

.contact-section .contact-text{
    font-size: 18px;
}

.contact-section label{
    display: block;
    margin-top: 20px;
    letter-spacing: 2px;
}

.contact-section form{
    margin: 0 auto;
    width: 459px;
}

.contact-section input, select, textarea{
    width: 439px;
    height: 40px;
    background: #fcfcfc;
    border: 1px solid var(--wool-white);
    padding: 10px;
    margin-top: 3px;
    font-size: 0.9em;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

.contact-section textarea{
    height: 213px;
    resize: none;
}
.contact-section input:focus, select:focus, textarea:focus {
    border:2px solid var(--main-color);
}

.contact-section #submit, #topic {
    cursor:pointer;
}

.contact-section #submit:hover, #topic:hover {
	opacity:.9;
}
.contact-section label span{
    color: red;
}

.contact-section .g-recaptcha{
    display: block;
    vertical-align: middle;
    padding-left: 80px;
}

			/***********************/
			/*       SUPPORT       */
			/***********************/

.support {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: var(--main-color);
    background: url(../images/support-img.jpg) no-repeat bottom center scroll;
    background-color: var(--wool-white);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.support .support-body {
    display: table-cell;
    vertical-align: middle;
}

.support .support-body .brand-heading {
    font-size: 40px;
}

.support .support-body .support-text {
    font-size: 18px;
}

@media(min-width:768px) {
	.support {
    	height: 100%;
    	padding: 0;
    }

    .support .support-body .brand-heading {
    	font-size: 100px;
    }

    .support .support-body .support-text {
    	font-size: 26px;
    }
}

.support-section {
    padding-top: 70px;
}

			/***********************/
			/*       PROFILE       */
			/***********************/

.profile {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: var(--main-color);
    background: url(../images/profile-img.jpg) no-repeat bottom center scroll;
    background-color: var(--wool-white);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.profile .profile-body {
    display: table-cell;
    vertical-align: middle;
}

.profile .profile-body .brand-heading {
    font-size: 40px;
}

.profile .profile-body .profile-text {
    font-size: 18px;
}

@media(min-width:768px) {
	.profile {
    	height: 100%;
    	padding: 0;
    }

    .profile .profile-body .brand-heading {
    	font-size: 100px;
    }

    .profile .profile-body .profile-text {
    	font-size: 26px;
    }
}

			/***********************/
			/*       SUCCESS       */
			/***********************/

.success {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: var(--main-color);
    background: url(../images/success-img.jpg) no-repeat bottom center scroll;
    background-color: var(--wool-white);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.success .success-body {
    display: table-cell;
    vertical-align: middle;
}

.success .success-body .brand-heading {
    font-size: 40px;
}

.success .success-body .success-text {
    font-size: 18px;
}

@media(min-width:768px) {
	.success {
    	height: 100%;
    	padding: 0;
    }

    .success .success-body .brand-heading {
    	font-size: 100px;
    }

    .success .success-body .success-text {
    	font-size: 26px;
    }
}

			/***********************/
			/*       SIGNUP        */
			/***********************/

.sign {
	display: table;
	width: 100%;
	height: auto;
	padding: 100px 0;
	text-align: center;
	color: var(--main-color);
	background-color: var(--off-white);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.sign .sign-body {
	display: table-cell;
	vertical-align: middle;
}

.sign .sign-body .sign-header {
	font-size: 40px;
}

.sign .sign-body .sign-text {
	font-size: 18px;
}

@media(min-width:768px) {
	.sign {
		/*height: 100%;*/
		padding: 0;
	}

	.sign .sign-body .sign-header {
		font-size: 100px;
	}

	.sign .sign-body .sign-text {
		font-size: 18px;
	}
}

			/***********************/
			/*        FORMS        */
			/***********************/

.form {
	display: table;
	width: 100%;
	height: auto;
	padding: 100px 0;
	text-align: center;
	color: var(--main-color);
	background-color: var(--off-white);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.form .form-body {
	display: table-cell;
	vertical-align: middle;
}

.form .form-body .errors {
	font-size: 18px;
}

.form .form-body .info-text {
	color: var(--wool-white);
	font-size: 15px;
}
.form .form-body .info-text a{
	color: var(--wool-white);
	font-size: 15px;
}

.form .form-body .login-text {
	font-size: 15px;
}

.form .form-body .login-text a{
	font-size: 15px;
}

.form label{
	display: block;
	margin-top: 20px;
	letter-spacing: 2px;
}

.form form{
	margin: 0 auto;
	width: 459px;
}

.form input, select, textarea{
	width: 439px;
	height: 40px;
	background: #fcfcfc;
	border: 1px solid var(--wool-white);
	padding: 10px;
	margin-top: 3px;
	font-size: 0.9em;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

.form textarea{
	height: 213px;
	resize: none;
}
.form input:focus, select:focus, textarea:focus {
	border:2px solid var(--main-color);
}

.form #submit, #topic {
	cursor:pointer;
}

.form #submit:hover, #topic:hover {
	opacity:.9;
}
.form label span{
	color: red;
}

.form .g-recaptcha{
	display: block;
	vertical-align: middle;
	padding-left: 80px;
}
.form form .checkbox {
	width: auto;
	height: 20px;
}
.form form .termsofuse {
	display:flex;
	text-align: justify;
	margin-bottom: 20px;
}

@media(min-width:768px) {
	.form {
		/*height: 100%;*/
		padding: 0;
	}

	.form .form-body .errors {
		font-size: 18px;
	}

	.form .form-body .info-text {
		color: var(--wool-white);
		font-size: 15px;
	}
	.form .form-body .login-text {
		font-size: 15px;
	}
}

			/***********************/
			/*       BUTTONS       */
			/***********************/

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 10px 16px;
    border: 3px solid var(--main-color);
    -webkit-text-stroke: 1px #000000;
    border-radius: 100%!important;
    font-size: 40px;
    color: var(--main-color);
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    border: 3px solid var(--secondary-color);
    color: var(--secondary-color);
    stroke: 1px solid #000000;
    background: rgba(192, 192, 192,.6);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: var(--montserrat-font);
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid var(--main-color);
    color: var(--main-color);
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid var(--main-color);;
    outline: 0;
    color: #000;
    background-color: var(--main-color);
}

ul.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

			/***********************/
			/*     ANIMATIONS      */
			/***********************/



@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes small-pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.075);
        transform: scale(1.075);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes small-pulse {
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.075);
        transform: scale(1.075);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes rotate {
	0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    50% {
        -moz-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes rotate {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    50% {
        -moz-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.animated:hover
{
	-webkit-animation-name: small-pulse;
	-moz-animation-name: small-pulse;
	-webkit-animation-duration: 3s;
	-moz-animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
}

.slow-pulse {
	-webkit-animation-name: pulse;
	-moz-animation-name: pulse;
	-webkit-animation-duration: 3s;
	-moz-animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
}

.fl-rotate-1x {
	-webkit-animation-name: rotate;
	-moz-animation-name: rotate;
	-webkit-animation-duration: 3s;
	-moz-animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
}

.fl-rotate-2x {
	-webkit-animation-name: rotate;
	-moz-animation-name: rotate;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
}

.fl-rotate-3x {
	-webkit-animation-name: rotate;
	-moz-animation-name: rotate;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
}

			/************************/
			/*        FOOTER        */
			/************************/

footer {
	padding: 50px 0;
}

footer p {
	margin: 0;
}

.fod {

	background: url("../images/dust-light.png") repeat;
}

.fod p {
	font-family: var(--raleway-font);
	color: var(--foot-grey);
	margin: 20 0 5 0;
	font-size: 15px;
}

.fod .foot-header {
	text-shadow: none;
	color: var(--foot-grey);
	font-weight:lighter;
	font-size: 23px;
	margin-bottom: 10;
	font-family: var(--raleway-font);
}

.fod hr.foot-hr {
	border: 0;
	height: 0;
	border-top: 1px solid rgba(55, 61, 63, 0.5);
	border-bottom: 1px solid rgba(246, 246, 246, 0.6);
	width: 10%;
	margin: 0 0 25;
}

.fod .offset {
	padding: 50 0 25 0px;
	padding-left: 100px;
}

.fod .secPoint{
	/*color: var(--off-white);*/
	font-family: var(--raleway-font);
	margin: 20 0 0 0;
}

.foot-col img {
	display: none;
}

.fod a {
	color: rgba(39, 39, 39, 0.8);
	margin: 20 0 0 0;
	font-size: 15px;
}

.fod .kon .mainPoint {
	font-family: var(--raleway-font);
	color: var(--foot-grey);
	margin: 20 0 5 0;
	font-size: 15px;
}

.fod .kon .mainPoint:hover {
	color: var(--foot-grey);
}

.fod .kon a {
	color: rgba(39, 39, 39, 0.8);
	margin: 5 5 0 0px;
	font-size: 15px;
}

.fod .kon a:hover {
	color: var(--foot-grey);
}

.fod a:hover {
	color: var(--foot-grey);
	text-decoration: none;
}

.fod .under-footer a{
	color: var(--foot-grey);
	font-size: 15px;
}

@media(max-width:750px) {

	.fod .under-footer a, p{
		font-size: 12px;
	}
	.fod .under-footer img {
		width: 340;
	}
}

@media(max-width:400px) {

	.fod .under-footer a, p, i{
		font-size: 9px;
	}
	.fod .under-footer img {
		width: 260;
	}

	.fod .offset {
		padding: 50 0 25 0px;
		padding-left: 50px;
	}
}
