/* COLOR PALETTE
    Dark Orange:   #FC580C, rgb: 252,88,12
    Light Orange:   #FC6B0A, rgb: 252,107,10
    Off-white:      #F6F6F6, rgb: 246,246,246
    Wool white:     #C0C0C0, rgb: 192,192,192
*/
:root {
        --main-color: #FC6B0A;
        --secondary-color: #FC580C;
        --off-white: #F6F6F6;
        --wool-white:#C0C0C0;

        --font: 'Raleway', sans-serif;
}

body{
    width: 100%;
    height: 100%;
    font-family: var(--font);
    color: var(--main-color);
    background-color: var(--off-white);
}

html{
    width: 100%;
    height: 100%;
}

.error {
    text-align: center;
}

.error h1{
    padding-top: 70px;
}

h1,h2,h3,h4,h5{
    margin: 0,0,35px;
    font-family: var(--font);
    font-weight: 700;
    letter-spacing: 1px;
    /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
}


h6 {
    font-family: var(--font);
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
    /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

@media(min-width:768px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: var(--main-color);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: var(--secondary-color);
}

.light {
    font-style: bold;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(192, 192, 192,.3);
    text-transform: uppercase;
    font-family: var(--font);
    background-color: #F6F6F6;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: var(--main-color);
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: var(--main-color);
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: rgba(252,88,12,1);
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: rgba(192, 192, 192,.3);
}

.navbar-custom .nav li.active a:hover {
    color: var(--secondary-color);
}

@media(min-width:768px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 1px solid rgba(192, 192, 192,.3);
        background: var(--off-white);
    }
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: var(--main-color);
    background: url(../../images/intro-bg.jpg) no-repeat bottom center scroll;
    background-color: var(--wool-white);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}

@media(min-width:768px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
    }

    .intro .intro-body .intro-text {
        font-size: 26px;
    }
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 10px 16px;
    border: 3px solid var(--main-color);
    -webkit-text-stroke: 1px #000000;
    border-radius: 100%!important;
    font-size: 40px;
    color: var(--main-color);
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    border: 3px solid var(--secondary-color);
    color: var(--secondary-color);
    stroke: 1px solid #000000;
    background: rgba(192, 192, 192,.6);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
    /*transition-duration: 1s;
    transition-property: -webkit-transform;*/
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    /*animation-name: pulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;*/
}

@-webkit-keyframes pulse {    
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: var(--font);
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid var(--main-color);
    color: var(--main-color);
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid var(--main-color);
    outline: 0;
    color: #000;
    background-color: var(--main-color);
}

ul.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
}

footer p {
    margin: 0;
}

.under-footer{
    color: var(--wool-white);
    font-size: 15px;
}

::-moz-selection {
    text-shadow: none;
    background: var(--off-white);
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: var(--off-white);
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    -webkit-tap-highlight-color: rgba(255,255,255,.2);
}

.info-section {
    padding-top: 70px;
}