<h3>Betaling</h3>
<b>BeGeBa</b> modtager betaling med Dankort/VISA-Dankort, VISA, VISA Electron, Mastercard og JCB. Betaling vil f&oslash;rst blive trukket p&aring; din konto, n&aring;r varen afsendes.<br>
<br>
Alle bel&oslash;b er i DKK. Danske kroner og er incl. moms.<br>
<br>
<b>BeGeBa</b> bruger en godkendt betalingsserver, der krypterer alle dine kortoplysninger med SSL (Secure Socket Layer) protokol. Det betyder, at man ikke kan afl&aelig;se dine informationer.
<br><br>
<h3>Levering</h3>
<b>BeGeBa</b> leverer p&aring; alle dage p&aring; hele &aring;ret, ved brug af mail, til den mail der er opgivet ved oprettelse af brugeren.<br>
Der er ogs&aring; mulighed n&aring;r man har betalt at g&aring; ind p&aring; sin profil, p&aring; focuslock.dk og downloade programmet derinde.
<br><br>
<h3>Reklamationsret</h3>
Der gives 2 &aring;rs reklamationsret i henhold til k&oslash;beloven. Vores reklamationsret g&aelig;lder for fejl i materiale og/eller fabrikation.
<br>
Reklamationen g&aelig;lder ikke forkert opgivet data i henhold til bruger, fejl eller skader beg&aring;et ved forkert betjening af produktet / ydelsen.
<br>
<b>BeGeBa</b> vil d&aelig;kke returneringsomkostninger i et rimeligt omfang.
<br><br>
<h3>Ved returnering</h3>
Rettes henvendelse til og reklamationer sendes til:
<br><br>
BeGeBa<br>
Enghaven 11,<br>
4281 G&oslash;rlev
<br><br>
Der modtages ikke pakker sendt p&aring; efterkrav.
<br><br>
<h3>Refusion</h3>
Hvis der er aftalt refusion, s&aring; bedes I sende jeres bankoplysninger, s&aring; vi kan overf&oslash;re det aftalte bel&oslash;b.<br>
I bedes sende oplysningerne til vores mail BeGeBa@focuslock.dk, med Titlen; "Refusion - [Bel&oslash;b] - [Ordrenummer]"
<br><br>
<h3>Fortrydelsesret</h3>
Der gives 14 dages fuld returret p&aring; varer k&oslash;bt i vores Webshop.
Perioden regnes fra den dag, hvor du modtager ordren.
<br><br>
Returneringsomkostninger skal du selv afholde.
<br><br>
Fortrydelse skal anmeldes til os senest 14 efter k&oslash;bet og fra fortrydelsen skal I senest 14 dage efter returnere forsendelsen.
<br><br>
Meddelelsen skal gives pr. mail p&aring; begeba@focuslock.dk. I meddelelsen skal du g&oslash;re os tydeligt opm&aelig;rksom p&aring;, at du &oslash;nsker at udnytte din fortrydelsesret. Du kan ogs&aring; v&aelig;lge at benytte vores standard fortrydelsesformular og sende med retur.<br>Den finder du her <a href="fortrydelsesformular.pdf" target="_blank">Fortrydelses formular</a> / www.focuslock.dk/pages/fortrydelsesformular.pdf
<br><br>
<h3>Klagemuligheder &mdash; oversigt og links:</h3>
Har du en klage over et produkt, k&oslash;bt i vores Webshop, kan der sendes en klage til:
<br><br>
Malte Gejr Korup<br>
Enghaven 11,<br>
4281 G&oslash;rlev<br>
Link: www.focuslock.dk
<br><br>
Hvis du er forbruger med bop&aelig;l i et andet EU-land, kan du angive din klage i EU Kommissionens online klageplatform.
