<h3>Terms and conditions of use</h3><br>
<b>1. Introduction</b><br>
1.1	By using our program FocusLock, you accept these terms and conditions in full; accordingly, if you 	disagree with these terms and conditions or any part of these terms and conditions, you must not use our program.<br>
1.2	If you want to use this program we will ask you to expressly agree to these terms and conditions.<br>
<br>
<b>2.	Copyright notice</b><br>
2.1	Copyright (c) 2017 Begeba.<br>
2.2	Subject to the express provisions of these terms and conditions:<br>
(a)	we, together with our collaborators, own and control all the copyright and other intellectual property rights in our program and the material on our website; and<br>
(b)	all the copyright and other intellectual property rights in our program and the material on our program are reserved.<br>
<br>
<b>3.	Licence to use program</b><br>
3.1	You may:<br>
(a)	use our program;<br>
(b)	use all the features that's within the program; subject to the other provisions of these terms and conditions.<br>
3.2	Except as expressly permitted by Section 3.1 or the other provisions of these terms and conditions, you must not download any material from our program or save any such material to your computer.<br>
3.3	You may only use our program for your own personal and business purposes, and you must not use our program for any other purposes.<br>
3.4	Except as expressly permitted by these terms and conditions, you must not edit or otherwise modify any material on our program.<br>
3.5	Unless you own or control the relevant rights in the material, you must not:<br>
(a)	republish material from our program (including republication on another program);<br>
(b)	sell, rent or sub-license material from our program;<br>
(c)	show any material from our program in public;<br>
(d)	exploit material from our program for a commercial purpose; or<br>
(e)	redistribute material from our program.<br>
<br>
<b>4.	Acceptable use</b><br>
4.1	You must not:<br>
(a)	use our program in any way or take any action that causes, or may cause, damage to the program 	or impairment of the performance, availability or accessibility of the program;<br>
(b)	use our program in any way that is unlawful, illegal, fraudulent or harmful, or in connection with 	any unlawful, illegal, fraudulent or harmful purpose or activity;<br>
 (c)	republish the program or materials from the program in any way;<br>
 (d)	use data or materials collected from our program for any direct marketing activity (including without limitation email marketing, SMS marketing, telemarketing and direct mailing).<br>
4.2	You must not use data collected from our program to contact individuals, companies or other persons or entities.<br>
4.3	You must ensure that all the information you supply to us through our program, or in relation to our program, is true, accurate, current, complete and non-misleading.<br>
<br>
<b>5.	User IDs and passwords</b><br>
5.1	If you register for an account with our website, we will provide you with / you will be asked to choose a user ID and password.<br>
5.2	Your user ID must not be liable to mislead and must comply with the content rules set out in Section 9; you must not use your account or user ID for or in connection with the impersonation of any person. <br>
5.3	You must keep your password confidential.<br>
5.4	You must notify us in writing immediately if you become aware of any disclosure of your password.<br>
5.5	You are responsible for any activity on our website arising out of any failure to keep your password confidential, and may be held liable for any losses arising out of such a failure.<br>
<br>
<b>6.	Cancellation and suspension of account</b><br>
6.1	We may:<br>
(a)	suspend your account;<br>
(b)	cancel your account; and/or<br>
(c)	edit your account details,<br>
	at any time in our sole discretion without notice or explanation.<br>
6.2	You may cancel your account on our website.<br>
<br>
<b>7.	Your content: licence</b><br>
7.1	You grant to us a worldwide licence to use, reproduce, store, adapt, publish, translate and distribute your content in any existing or future media / reproduce, store and publish your content on and in relation to this website and any successor website / reproduce, store and, with your 	specific consent, publish your content on and in relation to this website.<br>
7.2	You grant to us the right to sub-license the rights licensed under Section 9.2.<br>
7.3	You grant to us the right to bring an action for infringement of the rights licensed under Section 9.2.<br>
7.4	You hereby waive all your moral rights in your content to the maximum extent permitted by applicable law; and you warrant and represent that all other moral rights in your content have been waived to the maximum extent permitted by applicable law.<br>
7.5	You may edit your content to the extent permitted using the editing functionality made available on our website.<br>
7.6	Without prejudice to our other rights under these terms and conditions, if you breach any provision of these terms and conditions in any way, or if we reasonably suspect that you have breached these terms and conditions in any way, we may delete, unpublish or edit any or all of 	your content.<br>
<br>
<b>8.	Your content: rules</b><br>
8.1	You warrant and represent that your content will comply with these terms and conditions.<br>
8.2	Your content must not be illegal or unlawful, must not infringe any person's legal rights, and must not be capable of giving rise to legal action against any person (in each case in any jurisdiction and 	under any applicable law).<br>
8.3	Your content, and the use of your content by us in accordance with these terms and conditions, must not:<br>
(a)	be libellous or maliciously false;<br>
(b)	be obscene or indecent;<br>
(c)	infringe any copyright, moral right, database right, trade mark right, design right, right in passing off, or other intellectual property right;<br>
(d)	infringe any right of confidence, right of privacy or right under data protection legislation;<br>
(e)	constitute negligent advice or contain any negligent statement;<br>
(f)	constitute an incitement to commit a crime, instructions for the commission of a crime or the promotion of criminal activity;<br>
(g)	be in contempt of any court, or in breach of any court order;<br>
(h)	be in breach of racial or religious hatred or discrimination legislation;<br>
(i)	be blasphemous;<br>
(j)	be in breach of official secrets legislation;<br>
(k)	be in breach of any contractual obligation owed to any person;<br>
(l)	depict violence;<br>
(m)	be pornographic, lewd, suggestive or sexually explicit;<br>
(n)	be untrue, false, inaccurate or misleading;<br>
(p)	constitute spam;<br>
(q)	be offensive, deceptive, fraudulent, threatening, abusive, harassing, anti-social, menacing, hateful, discriminatory or inflammatory;<br>
(r)	cause annoyance, inconvenience or needless anxiety to any person.<br>
<br>
<b>9.	Limited warranties</b><br>
9.1	We do not warrant or represent:<br>
(a)	the completeness or accuracy of the information published on our website;<br>
(b)	that the material on the program is up to date; or<br>
(c)	that the program or any service on the program will remain available.<br>
9.2	We reserve the right to discontinue or alter any or all of our program services, and to stop publishing our program, at any time in our sole discretion without notice or explanation; and save to the extent expressly provided otherwise in these terms and conditions, you will not be entitled to any compensation or other payment upon the discontinuance or alteration of any website services, or if we stop publishing the website.<br>
9.3	To the maximum extent permitted by applicable law and subject to Section 11.1, we exclude all representations and warranties relating to the subject matter of these terms and conditions, our website and the use of our website.<br>
<br>
<b>10.	Limitations and exclusions of liability</b><br>
10.1	Nothing in a contract under these terms and conditions will:<br>
(a)	limit or exclude any liability for death or personal injury resulting from negligence;<br>
(b)	limit or exclude any liability for fraud or fraudulent misrepresentation;<br>
(c)	limit any liabilities in any way that is not permitted under applicable law; or<br>
(d)	exclude any liabilities that may not be excluded under applicable law.<br>
10.2	The limitations and exclusions of liability set out in this Section 11 and elsewhere in a contract under these terms and conditions: <br>
(a)	are subject to Section 11.1; and<br>
(b)	govern all liabilities arising under that contract or relating to the subject matter of that contract, including liabilities arising in contract, in tort (including negligence) and for breach of statutory duty, except to the extent expressly provided otherwise in that contract.<br>
10.3	To the extent that our program and the information and services on our program are provided free of charge, we will not be liable for any loss or damage of any nature.<br>
10.4	We will not be liable to you in respect of any losses arising out of any event or events beyond our reasonable control.<br>
10.5	We will not be liable to you in respect of any business losses, including (without limitation) loss of or damage to profits, income, revenue, use, production, anticipated savings, business, contracts, commercial opportunities or goodwill.<br>
10.6	We will not be liable to you in respect of any loss, corruption or breach of any data, database or 	software.<br>
10.7	We will not be liable to you in respect of any special, indirect or consequential loss or damage.<br>
10.8	You accept that we have an interest in limiting the personal liability of our officers and employees and, having regard to that interest, you acknowledge that we are a limited liability entity; you agree that you will not bring any claim personally against our officers or employees in respect of any losses you suffer in connection with the website or these terms and conditions (this will not, of course, limit or exclude the liability of the limited liability entity itself for the acts and omissions of our officers and employees).<br>
<br>
<b>11.	Breaches of these terms and conditions</b><br>
11.1	Without prejudice to our other rights under these terms and conditions, if you breach these terms and conditions in any way, or if we reasonably suspect that you have breached these terms and conditions in any way, we may: <br>
(a)	send you one or more formal warnings;<br>
(b)	temporarily suspend your access to our program and/or to our website;<br>
(c)	permanently prohibit you from accessing our program and/or to our website;<br>
(d)	block computers using your IP address from accessing our website;<br>
(e)	contact any or all of your internet service providers and request that they block your access to our website;<br>
(f)	commence legal action against you, whether for breach of contract or otherwise; and/or<br>
(g)	suspend or delete your account on our website.<br>
11.2	Where we suspend or prohibit or block your access to our program and/or to our website or a part of our website, you must not take any action to circumvent such suspension or prohibition or blocking (including without limitation creating and/or using a different account).<br>
<br>
<b>12.	Variation</b><br>
12.1	We may revise these terms and conditions from time to time.<br>
12.2	The revised terms and conditions shall apply to the use of our program from the date of publication of 	the revised terms and conditions on the website, and you hereby waive any right you may otherwise have to be notified of, or to consent to, revisions of these terms and conditions. / We will give you written notice of any revision of these terms and conditions, and the revised terms and conditions will apply to the use of our program from the date that we give you such notice; if you do not agree to the revised terms and conditions, you must stop using our program;<br>
12.3	If you have given your express agreement to these terms and conditions, we will ask for your express agreement to any revision of these terms and conditions; and if you do not give your express agreement to the revised terms and conditions within such period as we may specify, we will disable or delete your account on the website, and you must stop using the program and the website.<br>
<br>
<b>13.	Assignment</b><br>
13.1	You hereby agree that we may assign, transfer, sub-contract or otherwise deal with our rights and/or obligations under these terms and conditions. <br>
13.2	You may not without our prior written consent assign, transfer, sub-contract or otherwise deal with any of your rights and/or obligations under these terms and conditions. <br>
<br>
<b>14.	Severability</b><br>
14.1	If a provision of a contract under these terms and conditions is determined by any court or other competent authority to be unlawful and/or unenforceable, the other provisions will continue in effect.<br>
14.2	If any unlawful and/or unenforceable provision of a contract under these terms and conditions would be lawful or enforceable if part of it were deleted, that part will be deemed to be deleted, and the rest of the provision will continue in effect. <br>
<br>
<b>15.	Third party rights</b><br>
15.1	A contract under these terms and conditions is for our benefit and your benefit, and is not intended to benefit or be enforceable by any third party.<br>
15.2	The exercise of the parties' rights under a contract under these terms and conditions is not subject to the consent of any third party.<br>
<br>
<b>16.	Entire agreement</b><br>
16.1	Subject to Section 11.1, these terms and conditions, together with our privacy and cookies policy, shall constitute the entire agreement between you and us in relation to your use of our website 	and shall supersede all previous agreements between you and us in relation to your use of our program.<br>
<br>
<b>17.	Law and jurisdiction</b><br>
17.1	A contract under these terms and conditions shall be governed by and construed in accordance with Danish law.<br>
17.2	Any disputes relating to a contract under these terms and conditions shall be subject to the exclusive jurisdiction of the courts of Denmark.<br>
<br>
<b>18.	Our details</b><br>
18.1	This program and website is owned by BeGeBa.<br>
18.2    This website is operated by Gejr[s].<br>
18.3	We are registered in Denmark under registration number (CVR) 38834614, and our registered office is at Enghaven 11, 4281 G&oslash;rlev.<br>
18.4	Our principal place of business is at Enghaven 11, 4281 G&oslash;rlev.<br>
18.5	You can contact us by writing to the business address given above, by using our website contact form, by email to:<br>
	<a href="mailto:support@focuslock.dk">support@focuslock.dk</a> /<br>
	<a href="mailto:be@focuslock.dk">Be@focuslock.dk </a> /<br>
	<a href="mailto:ge@focuslock.dk">Ge@focuslock.dk </a> /<br>
	<a href="mailto:ba@focuslock.dk">Ba@focuslock.dk </a> <br>
	or by telephone on +45 42 24 39 03 / +45 53 56 12 22 / +45 29 87 07 88.<br>
<br>
