/* COLOR PALETTE
	Jet Black:	#131516,	rgb: 19,21,22
	Raven Grey:	#373D3F,	rgb: 55,61,63
	Green:		#5D963F,	rgb: 93,150,63
	Off-White:	#F6F6F6,	rgb: 246,246,246
	Wool white:	#C0C0C0,	rgb: 192,192,192
	Foot Grey:	#272727,	rgb: 39,39,39
*/

	/*PRE-MODIFIRES*/

:root {
	--main-color: #131516;
		--main-color-rgb: rgb(19, 21, 22);
	--secondary-color: #373D3F;
		--secondary-color-rgb: rgb(55, 61, 63);
	--green-color: #5D963F;
		--green-color-rgb: rgb(93, 150, 63);
	--off-white: #F6F6F6;
		--off-white-rgb: rgb(246, 246, 246);
	--wool-white: #C0C0C0;
		--wool-white-rgb: rgb(192, 192, 192);
	--foot-grey: #272727;
		--foot-grey-rgb: rgb(39, 39, 39);

	--main-font: 'Raleway', sans-serif;
	--secondary-font: 'Ubuntu', sans-serif;

}

body {
	width: 100%;
	height: 100%;
	font-family: var(--main-font);
	color: var(--main-color);
	background-color: var(--off-white);
}

html {
	width: 100%;
	height: 100%;
}

h1 {
	margin: 0 0 35px;
	font-family: var(--main-font);
	font-weight: 400;
	letter-spacing: 1px;
	/*text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;*/
}

h2 {
	margin: 0 0 25px;
	font-family: var(--secondary-font);
	font-size: 18px;
	line-height: 1.5;
	/*text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;*/
}

h3 {
	margin: 0 0 25px;
	font-family: var(--main-font);
	font-size: 25px;
	line-height: 1.5;
	font-weight: bold;
	text-align: center!important;
	/*text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;*/
}

p {
	font-family: var(--secondary-font);
	margin: 0 0 25px;
	font-size: 18px;
	line-height: 1.5;
}

i {
	font-family: var(--secondary-font);
}

a {
	font-family: var(--secondary-font);
}

	/*WEBPAGE SECTION*/

.intro {
	display: table;
	width: 100%;
	height: auto;
	padding: 100px 0;
	text-align: center;
	color: var(--main-color);
	background: url(../images/index-bg.jpg) no-repeat bottom center scroll;
	background-color: var(--wool-white);
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

.intro .intro-body {
	display: table-cell;
	vertical-align: middle;
}

.intro .intro-body .intro-heading {
	font-size: 40px;
}

.intro .intro-body .intro-text {
	font-size: 18px;
}

section {
	padding-top: 80px;
}

.heading {
	font-size: 40px;
}

.subheading {
	color: var(--green-color);
	font-style: italic;
	font-size: 27px;
}

.text {
	font-size: 18px;
}

/* AMOUNT*/

.quantity {
	align-self: center;
	position: relative;
	padding: 10;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
	-webkit-appearance: none;
	margin: 0;
}

input[type=number]
{
	-moz-appearance: textfield;
}

.quantity input {
	width: 70px;
	height: 42px;
	line-height: 1.65;
	float: left;
	display: block;
	padding: 0;
	margin: 0;
	padding-left: 20px;
	font-family: var(--secondary-font);
	color: var(--main-color);
	border: 1px solid var(--wool-white);
}

.quantity input:focus {
	outline: 0;
}

.quantity-nav {
	float: left;
	position: relative;
	height: 42px;
}

.quantity-button {
	position: relative;
	cursor: pointer;
	border-left: 1px solid var(--wool-white);
	width: 20px;
	text-align: center;
	color: var(--main-color);
	font-size: 13px;
	font-family: var(--secondary-font);
	line-height: 1.7;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.quantity-button.quantity-up {
	position: absolute;
	height: 50%;
	top: 0;
	border-bottom: 1px solid var(--wool-white);
	/*-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;*/
}

.quantity-button.quantity-down {
	position: absolute;
	bottom: 1px;
	height: 50%;
	/*-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;*/
}

.quantity input{
	border: 1px solid var(--wool-white);
	padding: 10px;
	font-size: 0.9em;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

	/*BUTTON*/

.btn {
	/*padding: 10;*/
	height: 42px;
    border-radius: 0;
    text-transform: uppercase;
    font-family: var(--main-font);
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

.btn-default {
    border: 1px solid var(--wool-white);
    color: var(--secondary-color);
    background: #fcfcfc;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid var(--green-color);
    outline: 0;
    color: var(--main-color);
    background-color: var(--green-color);
}

ul.basket {
    margin: 10;
}

@media(max-width:1199px) {
    ul.basket {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.basket li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

	/*SCREEN COMPATIBILITY*/
	/* FIXME: SCALE "wood_pellets" VED MIN-WIDTH */
@media(min-width:768px) {
	p {
		font-family: var(--main-font);
		margin: 0 0 35px;
		font-size: 20px;
		line-height: 1.6;
	}

	.intro {
		height: 75%; /* HVOR MEGET AF SKÆRMEN SKAL VÆRE INTRO */
		padding: 0;
	}

	.intro .intro-body .intro-heading {
		font-size: 100px;
	}

	.intro .intro-body .intro-text {
		font-size: 26px;
	}

	.twoColumns {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		text-align: justify;
	}

	.column1 {
		display: flex;
		flex-direction: column;
		margin-right: 50px;
	}

	.column2 {
		display: flex;
		flex-direction: column;
		margin-left: 50px;
	}
}

	/************************/
	/*   CHECKOUT SECTION   */
	/************************/

.checkout-intro {
	width: 100%;
	height: 30%;
}

.checkout-intro .checkout-intro-body {
	height: 100%;
	background: url(../images/checkout2.jpg) no-repeat bottom center scroll;
}

.checkout-intro .checkout-intro-body .checkout-title{
	color: var(--off-white);
	font-size: 4em;
	margin-top: 8%;
	font-weight: 900;
	text-align: center;
	text-shadow:
       2px 1px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

@media(min-width:768px) {
	.checkout-body {
		width: 45%;
		height: 500px;
		position: absolute;
		top: 20%;
		left: 25%;
		margin: 0 auto;
		background-color: var(--off-white);
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
}

    /**********************/
	/*   FOOTER SECTION   */
	/**********************/

.site-footer {
	margin-top: 80px;
	background-color: var(--foot-grey);
}

.site-footer h1 {
	color: var(--off-white);
	font-family: var(--main-font);
	margin-bottom: 10;
	font-size: 23px;
}

.site-footer p{
	color: var(--off-white);
	font-family: var(--main-font);
	margin: 20 0 0 0;
}

.foot-col {
	display: inline-block;
}

.contact-col {
	margin-top: 50px;
}

.foot-col img {
	display: none;
}

.site-footer .upper-footer .align-mid a {
	color: rgba(246, 246, 246, 0.3);
	margin: 20 0 0 0;
	font-size: 15px;
}

.site-footer .upper-footer .align-mid .contact i {
	color: rgba(246, 246, 246, 0.5);
	margin: 20 0 5 0;
	font-size: 15px;
}

.site-footer .upper-footer .align-mid .contact a {
	color: rgba(246, 246, 246, 0.3);
	margin: 5 5 0 0px;
	font-size: 15px;
}

.site-footer .upper-footer .align-mid .contact a:hover {
	color: rgba(246, 246, 246, 0.3);
}

.site-footer .upper-footer .align-mid a:hover {
	color: rgba(246, 246, 246, 0.5);
	text-decoration: none;
}

.site-footer hr.foot-hr {
	border: 0;
	height: 0;
	border-top: 1px solid rgba(55, 61, 63, 0.1);
	border-bottom: 1px solid rgba(246, 246, 246, 0.3);
	width: 10%;
	margin: 0 0 25;
}

.site-footer .under-footer {
	width: 100%;
	background-color: var(--green-color);
}

.site-footer .under-footer p, a {
	color: var(--off-white);
	font-size: 12.5px;
}

.site-footer .under-footer a:hover {
	opacity: 0.7;
	color: var(--off-white);
	font-size: 12.5px;
	text-decoration: none;
}

.site-footer .align-mid {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
}

.site-footer .under-footer img {
	width: 260;
}

@media(min-width:768px) {
	.site-footer .align-mid {
		margin-top: auto;
		display: flex;
		flex-direction:row;
		justify-content: center;
		align-items: center;
		height: 400px;
		text-align: left;
	}

	.foot-col {
		height: 300px;
	}

	.foot-col img {
		display: inline-block!important;
	}

	.contact-col {
		margin-top:0!important;
	}

	.site-footer .under-footer img {
		width: 380;
	}
}

	/*BUTTONS*/

.mdBtn {
	display: inline-block!important;
	position: relative!important;
	cursor: pointer!important;
	width: 50px!important;
	height: 50px!important;
	border: 2px solid var(--foot-grey)!important;
	/* box-shadow: 0 3px 3px var(--main-color)!important; */
	padding: 0px!important;
	text-decoration: none!important;
	text-align: center!important;
	color: var(--foot-grey)!important;
	font-size: 25px!important;
	font-weight: normal!important;
	line-height: 2em!important;
	border-radius: 27px!important;
	-webkit-border-radius: 27px!important;
	-moz-border-webkit: 27px!important;
	margin: 20 10 20 10!important;
}

.facebookBtn {
	background: var(--green-color);
}

.facebookBtn:before {
	font-family: "FontAwesome";
	content: "\f09a";
}

.facebookBtn:hover {
	opacity: 0.7;
	color: var(--foot-grey);
	text-decoration: none;
	/*background: var(--off-white);
	border-color: var(--green-color);*/
}

.twitterBtn {
	background: var(--green-color);
}

.twitterBtn:before {
	font-family: "FontAwesome";
	content: "\f099";
}

.twitterBtn:hover {
	opacity: 0.7;
	color: var(--foot-grey);
	text-decoration: none;
	/*background: var(--off-white);
	border-color: var(--green-color);*/
}

.instagramBtn {
	background: var(--green-color);
}

.instagramBtn:before {
	font-family: "FontAwesome";
	content: "\f16d";
}

.instagramBtn:hover {
	opacity: 0.7;
	color: var(--foot-grey);
	text-decoration: none;
	/*background: var(--off-white);
	border-color: var(--green-color);*/
}

	/*ANIMATIONS*/

.pulse {
	-webkit-animation-name: pulse;
	-moz-animation-name: pulse;
	-webkit-animation-duration: 3s;
	-moz-animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	50% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@-moz-keyframes pulse {
	0% {
		-moz-transform: scale(1);
		transform: scale(1);
	}

	50% {
		-moz-transform: scale(1.1);
		transform: scale(1.1);
	}

	100% {
		-moz-transform: scale(1);
		transform: scale(1);
	}
}
